<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a>{% for river in  all_river %}</a>
    <div>
        {% if river.continent == "S. America" %}
            <b>{% if river.length < 1000 %}</b>
                <b>Name: {{river.name}}</b>
                <br>
                <b>Continent: {{river.continent}}</b>
                <br>
                <b>Length: {{river.length}}</b>
                <br>
                <hr>
                {% endif %}
            {% endif %}
    </div>
{% endfor %}
</body>
</html>