<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
        <style>
         
          .buttonload {
              background-color:blue; /* Màu nền */
              border: none; /* không hiển thị border */
              color: white; /* Màu chữ */
              padding: 12px 16px; /* thêm padding */
              font-size: 16px /* cỡ chữ */
          
          }
        </style>
    </head>
    <body>

        <button class="Submit">Submit
        </button>

    </body>
</html>
</head>
<body>
    <form method="POST">
        <lable>Model</lable>
        <input name = "input_model" type = "text" >
        <br>
        <lable>Daily fee</lable>
        <input name = "input_daily_fee" type = "text" >
        <br>
        <lable>Image</lable>
        <input name = "input_image" type = "text" >
        <br>
        <lable>Year</lable>
        <input name = "input_year" type = "text" >
        <br>
        <button>Submit</button>
        

    </form>
</body>
</html>